body {
    background-color: dimgray;
}

.container {
    display: flex;
    margin: auto;
    width: 1300px;
}

.group-pic-1 {
    margin: 10px;
    /* padding-bottom: 100px; */
    /* height: 1000px; */
    /* width: 1200px; */
    /* display: inline-flex; */
    /* align-content: space-around;; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* justify-items: flex-start; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    width: 400px
}
/* 
.group-pic-2 {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.group-pic-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}
 */
/*** Landscape ***/
.small-img-l {
    margin: 0;
    padding: 0;
    width: 400px;
    /* height: 200px; */
    /* align-self: flex-start; */
}

/* .small-img-f {
    height: 400px;
} */

/*** Portrait ***/
.small-img-p {
    margin: 5px;
    padding: 0px;
    width: 300px;
    height: 400px;
}

.vote {
    display: flex;
    background-color: darkolivegreen;
    justify-content: space-between;
    margin-bottom: 30px;
}

img[src="pic/ico-glass.png"] {
    height: 40px;
}

button {
    background-color: darkgreen;
    height: 50px;
    text-align: right;
}