* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

body {
    background-color: black;
}

.big-img {
    display: block;
    margin: auto;
    width: 1200px;
    height: 500px;
}

.small-first {
    display: inline-block;
    margin: 0px 0px 0px 66.5px;
    padding: 0px;
    width: 300px;
    height: 100px;
    border-width: 0px;
}

.small-img {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 100px;
    border-width: 0px;
}

.container {
    width: 1213px;
    margin: auto;
}
/* .big-div {
    /* background-image: url("1.jpg");
    width: 1200px;
    height: 500px;
    margin: auto;
} */

h1 {
    color: white;
    text-align: center;
}